aiohttp
apscheduler
beautifulsoup4
feedparser
googletrans==2.0.0
openai==1.6.1
openai==0.28.0
openai
pytz
requests
telepot
bs4
async_timeout
asyncio
async
az-cli
google-generativeai
youtube_transcript_api
azure-identity
tiktoken
datetime
selenium
webdriver-manager
matplotlib
